/* Footer height
 */
$footer-height: 10rem;

/* ---------------------------------------
 * PUSH FOOTER BOTTOM
 *
 * Layout for push footer on bottom
 *
 *	<div id="app"> 
 *		<div id="content">
 *	
 *		</div>
 *		<footer-component v-if="! $root.loading"></footer-component>
 *	</div>
 *	
 * -----------------------------------------
*/
body {
 	margin: 0;
 	padding: 0;
 	height: 100%;
}
#app {
    min-height: 100%;
	position: relative;
}
#content {
    padding-bottom: $footer-height; /* NOTE: padding-bottom should be equal to the footer height (this keeps the footer from overlapping the content) */
}

footer{
    position: absolute;
    width: 100%;
	clear: both;
    bottom: 0;
	padding: 0;
    margin: 0;
}


/*---------------------------------------
	CUSTOM FOOTER STYLE
-----------------------------------------
*/

footer
{
    padding: 2rem 1.5rem 3rem;

}
