
.navbar{
	//margin-bottom:	80px;
}

.hero{
	padding-top:	3vw;
	margin-bottom:	3vw;
	overflow: hidden;

}
.hero-body{
	border-top:	1px solid grey;
}
//.slideable{
//	transition: max-height 1s;
//	height: 0px;
//	/*display: flex;*/
//	padding-top:	0;
//
//}

//
//.slideable.selected{
//	border:	1px solid green;
//	height: 256px;
//	/*display: none;*/
//}
